{% extends "base.html" %}

{% block content %}
  <h1>Title: {{ task.name }}</h1>
  <p>Deadline: {{ task.deadline }}</p>
  <p>Type: {{ task.type_of_task }}</p>
  <p>Details: {{ task.description }}</p>
  <div class="ml-3">
    <h1>Workers:</h1>
    {% for worker in task.assignees.all %}
      <hr>
      <p class="text-muted">
        <a href="{% url 'manager:worker_detail' worker.id %}">{{ worker.username }}</a>
      </p>
      <p>{{ worker.first_name }} {{ worker.last_name }}</p>
      {% if worker.position %}
        <p>{{ worker.position }}</p>
      {% endif %}
    {% empty %}
      <p>No workers for this task!</p>
    {% endfor %}

  </div>
{% endblock %}
