<ul class="sidebar-nav">
  {% if user.is_authenticated %}
    <li>
      User: {{ user.username }}
    </li>
    <li>
      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button>Logout</button>
      </form>
    </li>
  {% else %}
    <li>
      <a href="{% url 'login' %}">Login</a>
    </li>
  {% endif %}
  <br>
  <li>
    <a href="{% url 'manager:index' %}">Home</a>
  </li>
  <li>
    <a href="{% url 'manager:position_list' %}">All positions</a>
  </li>
  <li>
    <a href="{% url 'manager:worker_list' %}">All workers</a>
  </li>
  <li>
    <a href="{% url 'manager:task_list' %}">All tasks</a>
  </li>
  <li>
    <a href="{% url 'manager:task_type_list' %}">All task types</a>
  </li>
</ul>